In [1]:
import numpy as np
import pandas as pd

In [4]:
dataset = pd.read_hdf("dataset_with_weather.hdf5", key="data")

In [5]:
dataset.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>Quarter</th>
      <th>Month</th>
      <th>DayofMonth</th>
      <th>DayOfWeek</th>
      <th>UniqueCarrier</th>
      <th>AirlineID</th>
      <th>Carrier</th>
      <th>TailNum</th>
      <th>FlightNum</th>
      <th>...</th>
      <th>freezing fog</th>
      <th>light ice pellets, rain and snow</th>
      <th>fog</th>
      <th>rain</th>
      <th>heavy snow</th>
      <th>nearby dust</th>
      <th>light snow, rain and ice pellets</th>
      <th>light rain and snow</th>
      <th>light ice pellets and rain</th>
      <th>light ice pellets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>166</th>
      <td>2012</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>MQ</td>
      <td>20398</td>
      <td>MQ</td>
      <td>N815MQ</td>
      <td>4406</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>188</th>
      <td>2012</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>B6</td>
      <td>20409</td>
      <td>B6</td>
      <td>N603JB</td>
      <td>49</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>193</th>
      <td>2012</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>B6</td>
      <td>20409</td>
      <td>B6</td>
      <td>N630JB</td>
      <td>341</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>198</th>
      <td>2012</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>B6</td>
      <td>20409</td>
      <td>B6</td>
      <td>N586JB</td>
      <td>17</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>202</th>
      <td>2012</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>MQ</td>
      <td>20398</td>
      <td>MQ</td>
      <td>N816MQ</td>
      <td>4416</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 127 columns</p>
</div>

In [9]:
dataset.shape

(2900144, 127)

In [12]:
(dataset.ArrDelayMinutes >= 15).sum() / dataset.shape[0]

0.14213432160609957

In [ ]:
dataset.groupby()